.row {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
  border-bottom: 0.0625rem solid
    var(--secondary-color-light, var(--secondary-color-dark));
}

.rowCheckbox {
  padding: 0.75rem 0.5rem;
  line-height: 0;
}

.rowNumberOrder {
  min-width: 6.75rem;
}

.rowDate {
  min-width: 11rem;
}

.rowStatus {
  min-width: 11rem;
}

.rowStatusCompleted {
  color: var(--completed-icon-color);
  opacity: 0.6;
}

.rowStatusCancelled {
  color: var(--cancelled-icon-color);
  opacity: 0.6;
}

.rowCount {
  min-width: 6rem;
}

.rowSum {
  min-width: 8rem;
}

.rowConsumer {
  min-width: 21.75rem;
}

.itemIconNew {
  fill: var(--new-icon-color);
  stroke: var(--new-icon-color);
}

.itemIconCalculation {
  fill: var(--calculation-icon-color);
  stroke: var(--calculation-icon-color);
}

.itemIconConfirmed {
  fill: var(--confirmed-icon-color);
  stroke: var(--confirmed-icon-color);
}

.itemIconPostponed {
  fill: var(--postponed-icon-color);
  stroke: var(--postponed-icon-color);
}

.itemIconCompleted {
  fill: var(--completed-icon-color);
  stroke: var(--completed-icon-color);
}

.itemIconCancelled {
  fill: var(--cancelled-icon-color);
  stroke: var(--cancelled-icon-color);
}
