.content {
  width: 18rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;
}

.iconDelete {
  fill: var(--secondary-text-color-light, var(--secondary-text-color-dark));
  stroke: var(--secondary-text-color-light, var(--secondary-text-color-dark));
}

.datePrefix {
  padding-left: 1rem;
}
