.tableFooter {
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}

.tableFooterItems {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.tableFooterButton {
  fill: var(--main-background-color-light, var(--main-background-color-dark));
  stroke: var(--main-background-color-light, var(--main-background-color-dark));
}

.tableFooterButtonDelete {
  fill: var(--main-background-color);
  stroke: var(--main-background-color);
}

.tableFooterDropdown {
  position: absolute;
  bottom: 1.75rem;
  right: 5.5rem;
}

.radioDropdown {
  display: none;
}

.tableFooterDeleteDropdown {
  padding: 1rem;
  position: absolute;
  gap: 0.5rem;
  bottom: 1.75rem;
  right: -4.5rem;
}
