.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.item {
  display: flex;
  gap: 1rem;
}
.dropdown {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  background-color: var(--secondary-color-light, var(--secondary-color-dark));
  border-radius: 8px;
}

.dropdownItem {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
