.tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.5rem;
  padding: 0 1rem;
  color: var(--main-color);
  background-color: var(--secondary-color-light, var(--secondary-color-dark));
}
