.tableHeader {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: var(--main-color);
  color: var(--secondary-color-light, var(--secondary-color-dark));
}

.tableHeaderCheckbox {
  padding: 0.75rem 0.5rem;
  line-height: 0;
}

.tableHeaderNumberOrder {
  min-width: 6.75rem;
}

.tableHeaderDate {
  min-width: 11rem;
}

.tableHeaderStatus {
  min-width: 11rem;
}

.tableHeaderCount {
  min-width: 6rem;
}

.tableHeaderSum {
  min-width: 8rem;
}

.tableHeaderConsumer {
  min-width: 21.75rem;
}
