.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid
    var(--secondary-color-light, var(--secondary-color-dark));
}
