@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
  --main-color: #459df5;
  --secondary-color: #bad8f5;
  --main-text-color: #000000;
  --main-background-color: #ffffff;
  --incorrect-color: #f53152;
  --border-section-color: #8055ff;
  --dropdown-shadow-color: rgba(0, 0, 0, 0.1);
  --secondary-background-color: #ebf0f5;
  --main-text-color-dark: #bcc4cc;
  --main-background-color-dark: #2b2d33;
  --secondary-background-color-dark: #171b1f;
  --new-icon-color: #ff8c56;
  --calculation-icon-color: #459df5;
  --confirmed-icon-color: #0fb864;
  --postponed-icon-color: #ff8c56;
  --completed-icon-color: #0fb864;
  --cancelled-icon-color: #bcc4cc;
}

:root[data-theme="light"] {
  --main-color-light: #459df5;
  --main-text-color-light: #000000;
  --main-background-color-light: #ffffff;
  --secondary-color-light: #ebf0f5;
  --secondary-text-color-light: #bad8f5;
}

:root[data-theme="dark"] {
  --main-text-color-dark: #bcc4cc;
  --main-background-color-dark: #2b2d33;
  --secondary-color-dark: #171b1f;
  --secondary-text-color-dark: #454e52;
  --cancelled-icon-color-dark: #bcc4cc;
}

body {
  margin: 0;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(
    --main-background-color-light,
    var(--main-background-color-dark)
  );
}
