.tableHeader {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: var(--main-color);
  color: var(--secondary-color-light, var(--secondary-color-dark));
}
