.tablePagination {
  display: flex;
  gap: 0.25rem;
  position: relative;
}

.tablePaginationDropdown {
  position: fixed;
  bottom: 2.5rem;
  right: 4.5rem;
  padding: 1rem;
  gap: 0.5rem;
}

.fieldPaginationDropdown {
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}
