.rowStatus {
  display: flex;
  gap: 0.25rem;
  width: 11rem;
  box-sizing: border-box;
  padding: 0.75rem 0.5rem;
}

.rowStatusCompleted {
  color: var(--completed-icon-color);
  opacity: 0.7;
}

.rowStatusCancelled {
  color: var(--main-text-color-light, var(--cancelled-icon-color-dark));
  opacity: 0.7;
}

.itemIconNew {
  fill: var(--new-icon-color);
  stroke: var(--new-icon-color);
}

.itemIconCalculation {
  fill: var(--calculation-icon-color);
  stroke: var(--calculation-icon-color);
}

.itemIconConfirmed {
  fill: var(--confirmed-icon-color);
  stroke: var(--confirmed-icon-color);
  align-self: center;
}

.itemIconPostponed {
  fill: var(--postponed-icon-color);
  stroke: var(--postponed-icon-color);
}

.itemIconCompleted {
  fill: var(--completed-icon-color);
  stroke: var(--completed-icon-color);
  opacity: 0.7;
}

.itemIconCancelled {
  fill: var(--main-text-color-light, var(--cancelled-icon-color-dark));
  stroke: var(--main-text-color-light, var(--cancelled-icon-color-dark));
  opacity: 0.7;
}
